@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import '@fortawesome/fontawesome-free/css/all.css';

/* @font-face {
  font-family: 'OpenSans-Bold';
  src: url('../public/fonts/OpenSans-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans-ExtraBold';
  src: url('../public/fonts/OpenSans-ExtraBold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans-SemiBold';
  src: url('../public/fonts/OpenSans-Semibold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
} */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'OpenSans-Bold', 'OpenSans-ExtraBold', 'OpenSans-SemiBold' ,'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
